<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="text-center">
        <img src="~/Content/oops.jpg" alt="Oops" class="oops">
        <h1>Error</h1>
        <h2>An error occurred while processing your request.</h2>
        <hr />
    </div>
    <a href="~/Home/Index/" class="btn btn-primary" role="button">Back</a>
</body>
</html>
