<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>
</head>
<body>
    <div class="text-center">
        <img src="~/Content/404.jpg" alt="Oops" class="oops">
        <h2>Page not found</h2>
        <hr />
    </div>
    <a href="~/Home/Index/" class="btn btn-primary" role="button">Back</a>
</body>
</html>

